@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .content {
    width: 970px;
  }
}

@media (min-width: 780px) {
  .content {
    width: 750px;
  }
}

.Content {
  display: block;
  box-sizing: border-box;
  width: 1170px;
  margin: 0 auto;
}

/*@media (min-width: 768px) {
  .Content {
    margin-top: auto;
    margin-left: 25%;
    margin-right: 4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: inherit;
    width: auto; 
  }
}*/

.Content h2 {
  max-width: max-content;
  border-bottom: solid 5px #0057FF;
  padding-top: 1rem;
}
