/*@media (min-width: 768px) {
  .Content {
    margin-top: auto;
    margin-left: 25%;
    margin-right: 4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    background-color: inherit;
    width: auto; 
  }
}*/

.main-container {
  .container-heading {
    max-width: max-content;
    border-bottom: solid 5px #0057FF;
    padding-top: 1rem;
  }
}
