.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.skill-category {
  width: inherit;
}

.skill-category h4 {
  margin-top: 0;
}
