.Content {
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .Content {
    margin-top: auto;
    margin-left: 24rem;
    margin-right: 4rem;
    padding-top: 4rem;
    background-color: inherit;
    width: auto; 
  }
}

.Content h2 {
  padding-top: 2rem;
  border-bottom: solid;
}
