.Content {
  box-sizing: border-box;
  margin-top: 0;
}

@media (min-width: 768px) {
  .Content {
    margin-top: auto;
    margin-left: 25%;
    margin-right: 4rem;
    padding-top: 4rem;
    padding-left: 2rem;
    background-color: inherit;
    width: auto; 
  }
}

.Content h2 {
  border-bottom: solid;
}
