/*.Sidebar {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: /*#242F36;*/ /*#031f30;
  padding: 1rem 2rem 0 2rem;
}

.personal {
  box-sizing: border-box;
  width: 75%;
  padding-left: 2rem;
}

.site-nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

img {
  width: 25%;
  border-radius: 50%;
}

.Sidebar a {
  color: inherit;  
  text-decoration: none;
  fill: inherit;
}

.Sidebar a:hover {
  font-weight: bold;
  color: white;
  fill: white;
  margin-left: 1rem;
}

@media (min-width: 768px) { 

  .Sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    height: auto;
    text-align: left;
    padding: 2rem;
  }

  img {
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
  }

  .personal {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

svg {
  width: 20px;
  height: 20px;
  fill: inherit;
}
