@import-normalize;

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #36454F;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
