@import-normalize;

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #36454F;
  color: #d3d2d2;
  fill: #d3d2d2;
  width: 100vw;
}

h1, h2, h3 {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}
